page-settings {

}
.settings-page {
    margin-top: 40px;
}
.label-city {
    padding-left: 0;
    margin: auto;
    margin-bottom: 20px;
}
.setting-btn {
    display: block;
    margin: auto;
    text-align: center;
}